{% extends "app1/base.html" %}
{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'app1/css/basket.css'%}">
<title>B&B Your basket</title>
<script src="{% static 'app1/js/basket.js'%}"></script>
{% endblock %}
{% block content %}
<br>
<br>
<ul class="nav nav-tabs">
  <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#panel1">Basket</a></li>
  <li class="nav-item" ><a class="nav-link" data-toggle="tab" href="#panel2">Story of buys</a></li>
</ul>
<div class="tab-content">
  <div id="panel1" class="tab-pane fade show active">
     <table border="2" width="100%" cellpadding="5">
        <tr>
            <th>Name</th>
            <th>Data of add</th>
            <th class="priceColumn">Price</th>
            <th class="payedColumn">Is payed?</th>
            <th>Delete</th>
            <th>More inf.</th>
         </tr>
       {% for prod in prod_in_bask %}
         {% if not prod.payed_or_not %}
             <tr id="raw{{prod.pk}}">
                <td>{{ prod.product_name}}</td>
                <td>{{ prod.data_of_buy }}</td>
                <td class="priceColumn">{{ prod.price}} </td>
                <td class="payedColumn">Not Payed</td>
                <td>
                    <input type="checkbox" class="deleteCheckbox" id="deleteCheckbox{{prod.pk}}" data-id="{{prod.pk}}"></td>
                <td><a href="{% url 'product_buy_one' pk=prod.id %}">See more</a></td>
              </tr>
         {% endif %}
        {% endfor %}
          <tr>
            <th></th>
            <th></th>
            <th class="priceColumn">Total price: {{user.basket_state}}</th>
            <th class="payedColumn">Buy all:<form action="{% url 'basket' %}"  method="POST" class="stripeButton">
                {% csrf_token %}
                <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                data-key="pk_test_4d82ss51WQYwuCciwz4i5ude"
                data-amount="{{ price }}"
                data-name="Sample Charge"
                data-description="test"
                data-currency="usd">
                </script>
                </form></th>
            <th><button class="deleteBut" data-userid="{{ user.id }}">Delete</button></th>
            <th></th>
         </tr>
    </table>
  </div>
  <div id="panel2" class="tab-pane fade">
    <table border="2" width="100%" cellpadding="5">
        <tr>
            <th>Name</th>
            <th>Data of buy</th>
            <th>Price</th>
            <th>Is payed?</th>
         </tr>
        {% for prod in prod_in_bask %}
            {% if prod.payed_or_not %}
              <tr>
                <td>{{ prod.product_name}}</td>
                <td>{{ prod.data_of_buy }}</td>
                <td>{{ prod.price}} </td>
                <td>payed </td>
              </tr>
            {% endif %}
        {% endfor %}
    </table>
  </div>
</div>

{% endblock %}